<div>
<form action="http://localhost:8080/user/login" method="post">
    <div>
        <label for="user">User: </label>
        <input name="username" id="user" value="" />
    </div>
    <div>
        <label for="password">contraseña: </label>
        <input name="password" type="password"value="" />
    </div>
     
    <div>
        <button>Login</button>
    </div>
</form>
</div>