<div>
     websockets:  {{title}}
</div>

<form id="formulario">
     <label for="text1">Ingresa el texto uno:</label>
     <input type="text" name="text1" value="texto1">
     <label for="text2">Ingresa el texto dos:</label>
     <input type="text" name="text2" value="texto2">
     <input type="submit" id="btnSubmit" value="Enviar"></input>

</form>

<div id="prodList"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/rtprods.js"></script>