<div>
<form action="http://localhost:8080/user/registro" method="post">
    <div>
        <label for="user">User: </label>
        <input name="username" id="user" value="" />
    </div>
    <div>
        <label for="passwod">contraseña: </label>
        <input name="password" type="password" value="" />
    </div>
     <div>
        <label for="profile">Profile: </label>
        <input name="profile" value="" />
    </div>
    <div>
        <button>Registrar</button>
    </div>
</form>
</div>